.slide-in {
  animation: slide-in 1s;
}

@keyframes slide-in {
  0% { transform: translateX(-100%);}
  100% { transform: translateX(0%);}
}

@media screen and (max-width: 40em) {
  .mydialog {
      width: 75vw;
  }
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.gasto {
  font-weight: 700;
  color: #FF5252;
}

.ingreso {
  font-weight: 700;
  color: #66BB6A;
}

.neutral {
  font-weight: 700;
  color: #FFFFF0;
}

.letra {
  font-size: 12px;
}
